@import 'settings';
@import 'foundation';

@include foundation-everything;

$hero-height: 50vh;

$background-color: #89cff0;
$primary-color: #c5edac;
$secondary-color: #dbfeb8;
$tertiary-color: #a18276;
$other-color: #fbacbe;

.hero-section {
	background: $background-color;
	background-size: cover;
	display: flex;
	height: $hero-height;
	text-align: center;
	align-items: center;
	justify-content: center;
	.hero-content {
		color: $black;
	}
}