<!DOCTYPE html>
<html class="no-js" lang="en">
  {% include head.html %}
  <body>
    {% include site_nav.html %}
    {% if page.header_title %}
      <h1>{{  page.header_title }}</h1>
      <hr>
    {% endif %}
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-auto"></div>
        <div class="cell small-12 medium-8">
          {{ content }}
        </div>
        <div class="cell medium-auto"></div>
      </div>
    </div>
    {% include site_footer.html %}
  </body>
</html>
